[Unit]
Description=Mount Android phone via KDE Connect
Wants=kdeconnectd.service
After=kdeconnectd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/adam/.local/bin/kdeconnect-mount.sh -d bea5e83df45c4068b731e8c104c46c62 /mnt/phone
ExecStop=/usr/bin/fusermount -u /mnt/phone

[Install]
WantedBy=default.target
